{% if devis.nb_jours %}

    <input type="hidden" name="id_devis" id="id_devis" value="{{ devis.id_devis }}" />
    {% import 'Default/forms.html.twig' as forms %}

    <div class="form-bootstrapWizard" style="margin: -10px 0 30px 0">
        <ul class="bootstrapWizard form-wizard">
            {% for j in range(1, devis.nb_jours) %}
                <li style="width: {{ 100/devis.nb_jours }}%" data-target="#step{{ j }}" {% if j == journee %}class="active"{% endif %}>
                    <a href="{{ path_for('devis-edit', {'id': devis.id_devis, 'journee' : j}) }}"> <span class="step active">j{{ j }}</span>
                        <span class="title" id="jqTotalJournee_{{ j }}"></span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="alert alert-success">
        <h3>
            <strong>Total Devis :</strong> <span id="grandTotalDevis"></span> Ar <br />
            <strong>Total Devis en Euro :</strong> <span id="grandTotalDevisEuro"></span> Euro
            <button type="button" class="btn btn-primary pull-right" id="jqRepopulateDevis">Recalculer</button>
        </h3>
    </div>

    <div class="alert alert-warning">
        <h4><strong>Journée :</strong> <span id="journee">{{ journee }}</span></h4>
    </div>

    <!-- widget grid -->
    {% include "Devis/Detail/hotel.html.twig"%}

    {% include "Devis/Detail/prestation.html.twig" %}

    {% include "Devis/Detail/article.html.twig" %}

{% endif %}
