{% extends 'layout.html.twig' %}

{% import 'Default/forms.html.twig' as forms %}

{% block ribbon %}
    <div id="ribbon">
        <ol class="breadcrumb"><li><a href="{{ path_for('home') }}">Accueil</a></li><li><a href="{{ path_for('devis-list') }}">Devis</a></li><li>Edition</li></ol>
    </div>
{% endblock %}

{% block content %}
    {% include 'Default/form_open.html.twig' with {'title' : 'Devis'} %}

        <form action="{{ path_for('devis-edit', {'id': devis.id_devis}) }}" class="smart-form" method="post">
            <header>
                {% if devis.id_devis %}Modification{% else %}Nouveau{% endif %}
            </header>

            <fieldset>

                {{ forms.hidden('id_devis', devis) }}
                {{ forms.input('date_devis', 'Date', devis, 'datepicker') }}


            </fieldset>

            <footer>
                <button type="submit" class="btn btn-primary">
                    Enregistrer
                </button>
                <a type="button" class="btn btn-default" href="{{ path_for('devis-list') }}">
                    Retour
                </a>
            </footer>
        </form>
    {% include 'Default/form_close.html.twig' %}
{% endblock %}
