{% extends 'layout.html.twig' %}

{% import 'Default/forms.html.twig' as forms %}

{% block ribbon %}
    <div id="ribbon">
        <ol class="breadcrumb"><li><a href="{{ path_for('home') }}">Accueil</a></li><li><a href="{{ path_for('devis-list') }}">Devis</a></li><li>Edition</li></ol>
    </div>
{% endblock %}

{% block content %}
    {% include 'Default/form_open.html.twig' with {'title' : 'Devis'} %}

        <form action="{{ path_for('devis-edit', {'id': devis.id_devis}) }}" class="smart-form" method="post">
            <header>
                {% if devis.id_devis %}Modification{% else %}Nouveau{% endif %}
            </header>

            <fieldset>

                {{ forms.hidden('id_devis', devis) }}
                {{ forms.select('id_client', 'Client', devis.client, {'data': clients, 'id': 'id_client', 'label': 'first_name'}) }}
                {{ forms.input('date_depart', 'Date de depart', devis, 'datepicker') }}
                {{ forms.input('nb_jours', 'Nombre de jours', devis) }}
                {{ forms.input('nb_adulte', 'Adulte', devis, 'col col-6') }}
                {{ forms.input('nb_enfant', 'Enfant', devis, 'col col-6') }}
            </fieldset>

            <footer>
                <button type="submit" class="btn btn-primary">
                    Enregistrer
                </button>
                <a type="button" class="btn btn-default" href="{{ path_for('devis-list') }}">
                    Retour
                </a>
            </footer>
        </form>
    {% include 'Default/form_close.html.twig' %}

    {% include 'Devis/devis_per_day.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/app/Devis/devis.js"></script>
    <script src="/js/app/Devis/devis_hotel.js"></script>
    <script src="/js/app/Devis/devis_prestation.js"></script>
    <script src="/js/app/Devis/devis_article.js"></script>
{% endblock %}
