{% extends 'layout.html.twig' %}

{% import 'Default/forms.html.twig' as forms %}

{% block ribbon %}
    <div id="ribbon">
        <ol class="breadcrumb"><li>Accueil</li><li>Hotel</li><li>Edition</li></ol>
    </div>
{% endblock %}

{% block content %}
    {% include 'Default/form_open.html.twig' with {'title' : 'Hotel'} %}

        <form action="{{ path_for('hotel-save') }}" class="smart-form" method="post">
            <header>
                {% if hotel.id_hotel %}Modification{% else %}Nouveau{% endif %}
            </header>

            <fieldset>

                <input type="hidden" name="id_hotel" value="{{ hotel.id_hotel }}" />

                {{ forms.input('label', 'Nom', hotel.label, hotel.errors.label) }}

                {{ forms.select('categorie', 'Catégorie', hotel.categorie, hotel.errors.categorie, {'data' : range(1,5)}) }}

                {{ forms.input('prix_single', 'Prix Single', hotel.prix_single, hotel.errors.prix_single, 'col col-6') }}

                {{ forms.input('prix_double', 'Prix Double', hotel.prix_double, hotel.errors.prix_double, 'col col-6') }}

                {{ forms.input('prix_petit_dejeuner', 'Prix Petit Déjeuner', hotel.prix_petit_dejeuner, hotel.errors.prix_petit_dejeuner, 'col col-4') }}

                {{ forms.input('prix_dejeuner', 'Prix Déjeuner', hotel.prix_dejeuner, hotel.errors.prix_dejeuner, 'col col-4') }}

                {{ forms.input('prix_diner', 'Prix Diner', hotel.prix_diner, hotel.errors.prix_diner, 'col col-4') }}

                {{ forms.input('lit_supp', 'Lit supplémentaire', hotel.lit_supp, hotel.errors.lit_supp, 'col col-4') }}

                {{ forms.input('vignette', 'Vignette', hotel.vignette, hotel.errors.vignette, 'col col-4') }}

                {{ forms.input('taxe', 'Taxe', hotel.taxe, hotel.errors.taxe, 'col col-4') }}

            </fieldset>

            <footer>
                <button type="submit" class="btn btn-primary">
                    Enregistrer
                </button>
                <a type="button" class="btn btn-default" href="{{ path_for('hotel-list') }}">
                    Retour
                </a>
            </footer>
        </form>
    {% include 'Default/form_close.html.twig' %}
{% endblock %}
