{% extends 'layout.html.twig' %}

{% block ribbon %}
    <div id="ribbon">
        <ol class="breadcrumb"><li>Accueil</li><li>Hotel</li></ol>
    </div>
{% endblock %}

{% block content %}
    {% include "Default/list_open.html.twig" with {'title' : 'Hotel'} %}
        <div class="widget-body">
            <div class="widget-body-toolbar">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="{{ path_for('hotel-edit') }}" class="btn btn btn-default">Nouveau</a>
                    </div>
                </div>
            </div>
            <table class="table datatable table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Ville</th>
                    <th>Catégorie</th>
                    <th>Prix Double</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for hotel in hotels %}
                    <tr>
                        <td>{{ hotel.id_hotel }}</td>
                        <td>{{ hotel.label }}</td>
                        <td>{{ hotel.ville.label }}</td>
                        <td>{{ hotel.categorie }}</td>
                        <td>{{ hotel.prix_double }}</td>
                        <td>
                            <a href="{{ path_for('hotel-edit', {'id': hotel.id_hotel}) }}" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></a>
                            <a href="{{ path_for('hotel-delete', {'id': hotel.id_hotel}) }}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% include "Default/list_close.html.twig" %}
{% endblock %}
