{% extends 'layout.html.twig' %}

{% block ribbon %}
    <div id="ribbon">
        <ol class="breadcrumb"><li>Accueil</li><li>Article</li><li>Liste</li></ol>
    </div>
{% endblock %}

{% block content %}
    <table class="table datatable table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Désignation</th>
                <th>Catégorie</th>
                <th>Unité</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.id_article }}</td>
                <td>{{ article.label }}</td>
                <td>{{ article.categorie.label }}</td>
                <td>{{ article.unite }}</td>
                <td>
                    <a href="{{ path_for('article-edit') }}" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="{{ path_for('article-delete') }}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
