{% extends 'layout.html.twig' %}

{% block ribbon %}
    <div id="ribbon">
        <ol class="breadcrumb"><li>Accueil</li><li>Catégorie</li><li>Edition</li></ol>
    </div>
{% endblock %}

{% block content %}
    {% include 'Default/form_open.html.twig' with {'title' : 'Catégorie'} %}
        <form action="{{ path_for('categorie-edit', {'id': categorie.id_categorie}) }}" class="smart-form" method="post">
            <header>
                {% if categorie.id_categorie %}Modification{% else %}Nouveau{% endif %}
            </header>

            <fieldset>
                <input type="hidden" name="id_categorie" value="{{ categorie.id_categorie }}" />
                <section>
                    <label class="label">Désignation</label>
                    <label class="input {% if categorie.errors.label %}state-error{% endif %}">
                        <input type="text" id="label" name="label" value="{{ categorie.label }}" />
                    </label>
                    {% for error in categorie.errors.label %}
                        <div class="note note-error">{{ error }}</div>
                    {% endfor %}
                </section>
            </fieldset>

            <footer>
                <button type="submit" class="btn btn-primary">
                    Enregistrer
                </button>
                <a type="button" class="btn btn-default" href="{{ path_for('categorie-list') }}">
                    Retour
                </a>
            </footer>
        </form>
    {% include 'Default/form_close.html.twig' %}
{% endblock %}
