{% extends 'layout.html.twig' %}

{% block ribbon %}
    <div id="ribbon">
        <div id="ribbon">
            <ol class="breadcrumb"><li><a href="{{ path_for('home') }}">Accueil</a></li><li>Catégorie</li></ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include "Default/list_open.html.twig" with {'title' : 'Catégorie'} %}
        <div class="widget-body">
            <div class="widget-body-toolbar">

                <div class="row">
                    <div class="col-sm-6">
                        <a href="{{ path_for('categorie-edit') }}" class="btn btn btn-default">
                            Nouveau
                        </a>
                    </div>
                </div>
            </div>
            <table class="table datatable table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Désignation</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td>{{ categorie.id_categorie }}</td>
                        <td><a href="#" id="username" data-type="text" data-pk="1"
                               data-original-title="Enter username"
                               class="editable editable-click">{{ categorie.label }}</a></td>
                        <td>
                            <a href="{{ path_for('categorie-edit', { 'id': categorie.id_categorie }) }}"
                               class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></a>
                            <a href="{{ path_for('categorie-delete', { 'id': categorie.id_categorie }) }}"
                               class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% include "Default/list_close.html.twig" %}
{% endblock %}
